@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #F5F5F5;
    color: #67727A;
    font-family: Alegreya, sans-serif;
}
h2 {
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;    
    color: #F5F5F5;
}
h3 {
    font-size: 175%;
    line-height: 155%;
    padding: 5% 0;
    font-weight: 400;
    color: #F5F5F5;
}
p {
    font-family: Alegreya Sans, sans-serif;
    color: #F5F5F5;
    font-size: 160%;
    line-height: 150%;
    padding: 3%;
    text-align: justify;
}
.sexy-font {
    font-family: Alegreya Sans, sans-serif;
    font-size: 160%;
}
img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}
header {
    background-color: #F9A700; 
    width: 100%;
    height: 130px;
}
#header-inner {
    max-width: 1200px;
    margin: 0 auto;
}
#logo {
    margin: 20px;
    float: left;
    width: 200px;
    height: 100px;
    background: url(img/favicon.png) no-repeat center;
}
/*--Start Navigation--*/
nav {
    float: right;
    padding: 25px 20px 0 0;
}
#menu-icon {
    display: hidden;
    width: 50px;
    height: 50px;
    background: url(img/nav.png) no-repeat center;
}
a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}
ul {
    list-style-type: none;
}
nav ul li {
    font-family: Alegreya, sans-serif;
    font-size: 150%;
    display: inline-block;
    float: left;
    padding: 10px;
}
nav ul li a {
    color: #F5F5F5;
    text-decoration: none;
}
nav ul li a:hover {
    color: #C3D7DF;
}
.current {
    color: #C3D7DF; 
}
/*--End Navigation--*/
.banner {
    width: 100%;
    background-color: #87ceff;
}
.banner-inner {
    max-width: 1100px;
    margin: 0 auto;
}
.one-fourth {
    width: 25%;
    float: left;
    text-align: center;
}
#one-fourth-1 {
    background-color: #F1AA90;
}
#one-fourth-2 {
    background-color: #BEB9AD;
}
#one-fourth-3 {
    background-color: #AADCD2;
}
#one-fourth-4 {
    background-color: #A2B2C1;
}
.one-fourth i {
    color: #F0F0F0;
    font-size: 500%;
    padding: 13% 0 4% 0;
}
.inner-wrapper {
    float: left;
    width: 100%;
    background-color: #C3D7DF;
}
article {
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto;
}
#upper-right {
    background-color: #C3D7DF;
}
aside {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: auto;
}
#upper-right2 {
    background-color: #A2B1C1;
}
#middle-left {
    background-color: #BEB9AD;
}
#lower-left {
    background-color: #F1AA90;
}
.inner-wrapper-2 {
    float: left;
    width: 100%;
    background-color: #C3D7DF;
}
.inner-wrapper-3 {
    float: left;
    width: 100%;
    background-color: #AADCDF;
}
.one-third {
    width: 33.3333%;
    float: left;
    text-align: center;
}
#one-third-1 {
    background-color: #A2B1C1;
}
#one-third-2 {
    background-color: #BEB9AD;
}
#one-third-3 {
    background-color: #AADCD2;
}

/*--Start Footer--*/
footer {
    background-color: #6991AC;
    width: 100%;   
}
.social-media {
    list-style-type: none;
    text-align: center;
}
.social-media li {
    display: inline;
}
.social-media i {
    font-size: 460%;
    margin: 1%;
    padding: 5% 5% 5% 4%;
    color: #C3D7DF;
}
.social-media i:hover {
    color: #F5F5F5;
}
footer.second {
    border-top: 1px solid #AADCD2;
    background-color: #544B59;
    max-height: 55px; 
    text-align: center;
    margin: 0;
}
footer.second p {
    padding: 5px 0 9px 0;
    text-align: center;
}
/*--Media Query--*/
@media screen and (max-width: 760px) {
    h2 {
        font-size: 150%;
    }
    h3 {
        font-size: 125%;
    }
    p {
        font-size: 120%;    
    }
    header {
        position: absolute;
    }
    #logo {
        margin 15px 0 20px -25px;
        background: url(img/favicon.png) no-repeat center;
    }
    #menu-icon {
        display: inline-block;
    }
    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: #6991AC;
        right: 20px;
        top: 60px;
        border: 1px solid #FFF;
        border-radius: 10px 0 10px 10px;
        width: 50%;
    }
    nav:hover ul {
        display: block;
    }
    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }
    .banner {
        padding-top: 86px;
    }
    .one-fourth {
        float: left;
        width: 100%;
    }
    .one-fourth i {
        font-size: 350%;
        padding: 4% 0 1% 0;
    }
    article {
        width: 100%;
    }
    aside {
        width: 100%;
    }
    .middle-left2 {
        display: none;
    }
    .one-third {
        width: 100%;
    }
    .social-media i {
        font-size: 180%;
    }
    .mario {
        visibility: hidden;
    }
    .luigi {
        visibility: hidden;
    }
    .bgimg {
        height: 75%;
    }
}
/*--End Media Query--*/

.banner-image {
    opacity: 0.0;
}

.sky{
  position: relative;
  height: 40%;
  background: skyblue;
}

/*// ELEMENTS TO ANIMATE //*/

.mario {
  position: absolute;
  top: 330px;
  left: 0px;
  animation: drive 3s both infinite linear, 
             jump 0.5s 1.2s ease; 
}

.luigi {
  position: absolute;
  top: 420px;
  left: 0;
  animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  width: 200px;
  top: 100px;
  opacity: 0.5;
  animation: wind 80s linear infinite reverse;
}

.cloud:nth-child(2) {
  width: 300px;
  top: 0;
  animation: wind 50s linear infinite reverse;
}

/*// KEYFRAMES //*/

@keyframes drive {
  from { transform: translateX(-500px) }
  to { transform: translateX(1500px) }
}

@keyframes wind {
  from { left: -500px }
  to { left: 100% }
}

@keyframes jump {
  0% { top: 160px }
  50% { top: -10px }
  100% { top: 160px }
}



/*--COMING SOON--*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
}

.bgimg {
    /* Background image */
    background-image: url('img/starnight.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}


/* Position text in the top-left corner */
.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.countertext {
    font-size:55px;
}

/* Position text in the bottom-left corner */
.bottomleft {
    position: absolute;
    bottom: 0;
    right: 16px;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
}
/*--END COMING SOON--*/



/*--REGISTER--*/
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #78A7DC;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.register-text-color {
    color: black;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #DE4F4F;
  text-align: center;
}

.form-size {
    width: 50%;
    height: 50%; 
    margin-left: 25%;
}
/*--END REGISTER--*/
